.board
  .title
    %h1.board_title= @board.title
    .board_actions
      .dropdown
        = image_tag 'actions.png', class: 'dropbtn'
        .dropdown-content.mini
          = link_to '編集する', edit_board_path(@board)
          
  .board_content
    = @board.content

