@import 'form';
@import 'buttons';
@import 'header';

html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
  }


a {
    text-decoration:none;
    color: black;
}

.container {
    padding: 16px 16px;
    width: 100%;

    h2 {
        margin-top: 50px;
    }
}


