@import 'form';
@import 'buttons';
@import 'header';
@import 'card';
@import 'board';
@import 'commons';

html {
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100%;
  }


a {
    text-decoration:none;
    color: black;
}

.container {
    padding: 16px 16px;
    width: 90%;

    h2 {
        margin-top: 50px;
    }

    .tab{
        font-weight: 800;
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 40px;
    }
}


