.btn-primary {
    background-color:  #F8BD1C;
    position: absolute;
    width: 85%;
    height: 40px;
    left: 25px;
    top: 750px;
    border-radius: 4px;
    border:none
}

.float_btn{
    border: 1px dashed rgba(0, 0, 0, 0.2);
    padding: 80px;
    border-radius: 10px;
    margin-top: 26px;
}