

.dropdown {
    position: relative;
    display: inline-block;
  }

.board_detail_actions{
    position: absolute;
    top: 80px;
    right: 20px;

}

.dropdown-content {
    display: none;
    min-width: 60px;
    background-color: white;
    z-index: 1;

    &.mini {
        width: 70px;
        word-wrap: break-word;
    }
}

  .dropdown:hover .dropdown-content {
    display: block;
  }



