.header_pageTitle {
    padding-bottom: 40px;
    a{
    position: absolute;
    width: 56px;
    height: 25px;
    left: 30px;
    }
}

hr{
    position: absolute;
    width: 100%;
    top: 50px;
    opacity: 0.1;
}